<div class="contenedor_fecha">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <div class="fecha_container">
                    <div class="dia_container">
                        <div id="diaSemana"></div>
                        <div id="dia"></div>
                    </div>
                    <div class="mes_anio_container">
                        <div id="mes"></div>
                        <div id="anio"></div>
                    </div>
                    <div class="hora_container">
                        <div id="hora"></div>
                        <div id="minuto"></div>
                        <div class="segs_mer_container">
                            <div id="segundos"></div>
                            <div id="meridiano"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="header" class="container-fluid">
    <div class="row col_special">
        <div class="col-xs-12 center-block">
            <p class="parteNav">{{$root.currentViewName}}<span class="draftTag">&nbsp;─DRAFT/2016</span>            
            </p>
            <img src="assets/images/logos/logo_clasificador.png" class="center-block clasificador-logo">
        </div>
    </div>
</div>