<div id="modalDetalle" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content my-modal-content">
            <div class="modal-body my-modal-body">
                <div class="btn-close-m" data-dismiss="modal" ng-click="cierraReproductor()"></div>
                <div class="row">
                    <div class="col-xs-12">                        
                        <div id="contenido_media">
                        </div>   
                    </div>
                </div>
            </div>              
        </div>
    </div>
</div>

