<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-centered">
                <div class="session_login" style="margin-top: 1em;">
                    <div class="logo">
                        <img src="assets/images/logos/login_logo_redes.png" class="center-block logo" style="margin-bottom: 3em;">
                    </div>
                    <div ng-form name="formLogin">
                        <div class="form-login">
                            <div class="fondo-login-input fondo-transparencia1">
                                <div class="field_username">
                                    <div class="label_user"><p>Usuario:</p></div>
                                    <input type="text"  required minlength="4" maxlength="10" id="userName" ng-model="usuario" 
                                           class="login-input user_field" placeholder="">
                                    <div class="post"></div>
                                </div>
                                <div class="field_password">
                                    <div class="label_password"><p>Contraseña:</p></div>
                                    <input type="password" required minlength="4" maxlength="10" id="userPassword" 
                                           ng-model="password" class="login-input pass_field" placeholder="" 
                                           ng-keypress="($event.which === 13) ? login() : 0">
                                    <div class="post"></div>
                                </div>
                            </div>
                            <button ng-click="login()" ng-disabled="disabled" id="btn_aceptar" type="button" 
                                    class="btn login-btn fondo-transparencia1">{{btn_name}}</button>

                            <div class="into_about_clasificadorjs">
                                <p>
                                    <b>ClasificadorJS</b> is an AngularJS-based application designed to assist law enforcement agencies in Mexico 
                                    ─formerly the now-dissolved <b>Federal Police</b>─ with operational, classification and investigation tasks.
                                </p>
                                <p>
                                    This front-end application utilizes a modular architecture, and served as a foundational-base for other projects. 
                                    It enabled the easy implementation of consistent structures, by utilizing patterns, best angularjs coding-practices, templates, controllers, and components (directives) to be rehused across other developments.
                                </p>
                                
                                <p>
                                    Design logos, images, and business requirements are property of the final-application owner [<b>IAPPP</b>].
                                    The author/publisher [<b>ClusterBR</b>] contributed to implement the general application architecture, AngularJS components, and application logic. 
                                    For speed-up large-scale parallel development, front-end can be divided in the following roles: <i>graphic designer, 
                                    HTML-layout-designer (maquetador), front-end developer(s) and front-end developer lead.</i>
                                </p>
                                <p>
                                    Since this is a purely front-end application, it is disconnected from any databases or external data sources and therefore will not display, save and/or use any sensitive data. 
                                    The information (news) shown was generated by using generative AI tools to populate the JSON files with global and Mexico-specific trending news.
                                </p>
                                <p>
                                    For this login-page <b>user</b> and <b>password</b> use the static word: <b style="color:orangered">admin</b>
                                </p>
                                <p>
                                    <a href="tree-view.html" target="_blank">See app files tree-view</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#userName").msj_tooltip_follow_me("#descrip_user_name");
        $("#userPassword").msj_tooltip_follow_me("#descrip_user_pass");
    </script>
</div>
