<div class="container-fluid">
    <div class="row center-block">
        <div id="gafete" class="col-xs-2">
            <div class="gafete-usuario">
                <div class="gafete_header_holder">
                    <h1>BIENVENIDO</h1>
                    <div class="gafete_header_holder_post"></div>
                </div>
                <div class="fondo-transparencia-blanco">
                    <p><img src="{{foto}}"/></p>
                    <p class="gafete_color1">{{puesto}}</p>
                    <p class="gafete_color1">NOMBRE:</p>
                    <p class="gafete_name">{{nombre}}</p>
                    <p class="gafete_color1">NO EMPLEADO</p>
                    <p>007</p>
                </div>
            </div>
        </div>
        <div id="advertencia_inicio" class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main_warning">
                        <div class="warning_header_holder">
                            <h1>INTRODUCCIÓN</h1>
                            <div class="warning_head_post"></div>
                        </div>
                        <div class="warning_content">
                            <ul>
                                <li>
                                    <b>ClasificadorJS</b> is an AngularJS-based app designed to assist law enforcement agencies in Mexico ─formerly the now-dissolved <b>Federal Police</b>─ with operational, classification, and investigation tasks. 
                                </li>
                                <li>
                                    This front-end application utilizes a modular, extensible, component-oriented MVC AngularJS architecture and served as a foundational base for other projects. 
                                </li>
                                <li>
                                    It enabled the easy implementation of consistent structures by utilizing patterns, best AngularJS coding practices, templates, controllers, and components (directives) to be reused across other developments.
                                </li>
                                <li>
                                    Design logos, images, and business requirements are the property of the final application owner [<b>IAPPP</b>].
                                </li>
                                <li>
                                    This AngularJS application, along with other applications for the same client, was developed during the years 2015 and 2016.
                                </li>
                                <li>
                                    The author/publisher [<i>ClusterBR (arcbrth@gmail.com)</i>] contributed to implementing the general application architecture, AngularJS components, and application logic. 
                                </li>
                                <li>
                                    Since this is a purely front-end application, it is disconnected from any databases or external data sources and therefore will not display, save, or use any sensitive data. 
                                </li>
                                <li>
                                    The information (news) shown in the next parts of the application was generated using generative-AI tools to populate the JSON files with global and Mexico-specific trending news.
                                </li>
                                <li>
                                    The front-end JSON files serve to mock up the backend REST services, allowing the front-end logic to be implemented independently without worrying about the backend services' status, whether they are completed or not.
                                </li>
                                <li>
                                    This published-version is a draft of the final version, and is published to provide visibility of the author's work as well as to provide guidance about AngularJS front-end development.
                                </li>
                                <li>
                                    The GitHub repository shows some generalities about AngularJS application structure and components implementation as it was designed and implemented in 2016:
                                    <b><a href='https://github.com/abritoh/clasificadorjs-archived-snapshot' target="_blank">https://github.com/abritoh/clasificadorjs-archived-snapshot</a></b>
                                </li>
                                <li>
                                    Unlike other government projects in Mexico that have recently gained significant importance, such as the "Tren Maya" and other tourism initiatives, 
                                    the subject addressed by this application pertains to security —a critical matter that involves/implies serious, geographical, political, and civil issues—.
                                </li>
                                <li>
                                    The Federal Police of Mexico, once a key institution in national security, was officially dissolved on December 31, 2019. Its functions were transferred to the newly created National Guard as part of a security restructuring effort.
                                </li>
                                <li>
                                    This set of applications was developed with the idea of integrating many aspects that currently AI-technology offers, the vision of the people who conceived this idea was 
                                    to leverage advanced technology to reinforce security systems against illicit operations. The frontend-team includes: graphic designers, frontend-devs, etc...
                                </li>
                                <li>
                                    As with any other software engineer who has participated in several projects, both governmental and private-initiative, the final use of the product and/or service remains outside our scope, and as a matter of fact developers never have direct access to production-data which remains under the custody of the operational-team.
                                </li>
                                <li>
                                    AngularJS is a JavaScript-based framework for building dynamic web applications. It extends the HTML DOM and follows the MVC design pattern, offering features like modules, controllers, templates, directives, services, factories, and dependency injection. The newer version of Angular uses TypeScript, a type-safe language that compiles into JavaScript.
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row btns_warning">
                <div class="col-xs-6">
                    <button ng-click="login()" class="btn_go_back center-block">REGRESAR A LA PANTALLA DE INICIO</button>
                </div>
                <div class="col-xs-6">
                    <button ng-click="aceptar()" class="btn btn_accept_terms center-block">ACEPTO TÉRMINOS Y CONDICIONES</button>
                </div>
            </div>
        </div>
    </div>
</div>
