<div class="col-xs-4 col_special">
    <div class="row step_menu_holder radius-bottom">
        <div class="content_main col-xs-12 step_container">
            <div id="ievent_step">
                <div class="line-menu shadow line-menu-title">
                    <p class="p_noMargin">
                        {{app_model.NOTA.titulo}}
                    </p>
                </div>                
                <div class="line-menu shadow" ng-class="{'nCompleted': eventoDiaCompleted === true, 'nActive':  toComplete === true }"> 
                    <p class="p_noMargin">EVENTO</p>
                </div>
                <div class="line-menu shadow" ng-class="{'nCompleted': temaCompleted === true, 'nActive':  eventoDiaCompleted === true }">
                    <p class="p_noMargin">TEMA</p>
                </div>
            </div> 
            <button type="button" class="btn btn_accept_step center-block" ng-click="acceptFullStep()" ng-disabled="!temaCompleted">Siguiente</button>
        </div>
    </div>
</div>

<div id="popUp_container" class="col-xs-8">
    <div class="row col_special"> 
        <div id="half_first" class="col-xs-6 no_left_margin" ng-show="toComplete === true">
            <div class="step_menu_holder line-pop radius-bottom">
                <div class="popUp">
                    <div class="padd-div">
                        <div class="col-xs-12" style="padding-bottom: 1em;">
                            <ui-select ng-model="dx.eventoDia" name="">
                                <ui-select-match placeholder="*SELECCIONE EVENTO">{{$select.selected.nombre}}</ui-select-match>
                                <ui-select-choices repeat="x in get_list_eventoDia | filter: $select.search">
                                    <span ng-bind-html="x.nombre"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <button type="button" class="btn btn_accept_step center-block" ng-click="acceptEventoDelDia()">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
        <div id="half_first" class="col-xs-6 no_left_margin"  ng-show="showTemaEvento === true">
            <div class="step_menu_holder line-pop radius-bottom">
                <div class="popUp">
                    <div class="padd-div">
                        <div class="col-xs-12">
                            <div ia-tema ng-model="dx.tema" ng-hide="ui_quest_tema === true || ui_quest_subtema === true"></div>
                        </div>
                        <div class="col-xs-12" ng-show="ui_quest_subtema === true">
                            <p> ¿DESEA AGREGAR OTRO SUB TEMA? </p>
                            <div class="col-xs-12" style="padding-bottom: 0.5em;">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-4">
                                    <input  type="radio" class="radiobs" name="otro_subtema" ng-value="true" ng-model="otro_subtema"/>
                                    <label>SI</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="radio" class="radiobs" name="otro_subtema" ng-value="false" ng-model="otro_subtema"/>
                                    <label>NO</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="ui_quest_tema === true">
                            <p> ¿DESEA AGREGAR OTRO TEMA? </p>
                            <div class="col-xs-12" style="padding-bottom: 0.5em;">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-4">
                                    <input  type="radio" class="radiobs" name="otro_tema" ng-value="true" ng-model="otro_tema"/>
                                    <label>SI</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="radio" class="radiobs" name="otro_tema" ng-value="false" ng-model="otro_tema"/>
                                    <label>NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-show="(ui_quest_tema === false) && (ui_quest_subtema === false)" class="btn btn_accept_step center-block" ng-click="acceptTema()">
                        Aceptar
                    </button>
                    <button type="button"  ng-show="ui_quest_tema === true" class="btn btn_accept_step center-block" ng-click="addNewTema()">
                        Aceptar
                    </button>
                    <button type="button" ng-show="ui_quest_subtema === true" class="btn btn_accept_step center-block" ng-click="addNewSubtema()">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="tema_tree_view.html">
            <div class="col-xs-12 green_rect">
                    <div class="txt_tema_">
                        <p class="p_noMargin">{{tema.data.tipoTema.nombre}}</p>
                        <p class="p_noMargin">{{tema.data.subTipoTema.nombre}}</p>
                        <p class="p_noMargin">{{tema.data.subSubTipoTema.nombre}}</p>
                        <p class="p_noMargin">{{tema.data.subSubSubTipoTema.nombre}}</p>
                    </div>
                    <div class="delete_tema" ng-click="deleteTema(tema)">
                        <span class="fa-close"></span>
                    </div>
            </div>
                <ul ng-if="tema.childs != null" class="txt_childs">
                    <li ng-repeat="tema in tema.childs" 
                      ng-include="'tema_tree_view.html'">
                    </li>
                </ul>
        </script>
        <div id="second_first" class="col-xs-6 no_left_margin" ng-show="(temas.length > 0 && verResumen)">
            <div class="step_menu_holder line-pop radius-bottom">
                <div class="popUp">
                    <div class="padd-div tema_tree_view">
                        <ul>
                            <li ng-repeat="tema in temas" ng-include="'tema_tree_view.html'"></li>
                        </ul>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>